@keyframes float_in {
  0%   { opacity: 0; transform:translateY(50px);}
  100% { opacity: 1; transform:translateY(0px);}
}
  @keyframes grow {
  0%   { transform:scale(1);}
  100% { transform:scale(1.05);}
}
@keyframes dash {
to {
  stroke-dashoffset: 750;
}
}
#Map {
  width: auto;
  height: 65vh;
  max-height: calc(100vh - 180px);
  display: block;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  
}

#map {
  transform: scale(1);
  overflow: scroll;
}

#zoombox_wrapper {
  position: absolute;
  width: 90%;
  height: 60vh;
  min-height: 417px;
  display: none;
  transform: translate(5.65%, -100%);
  pointer-events: none;
  
}

#zoombox {
  position: absolute;
  bottom: 1px;
  left: 0;
  border: solid 1px black;
  border-bottom: solid 0px black; 
  display: flex;
  pointer-events: all;
  background: #fffcf475;
  
}

#zoomin {
  padding: 10px;
  border-left: solid 1px black;
  /*backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: #ffffffcf;*/
}
#zoomout {
  padding: 10px;
  /*backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: #ffffffcf;*/
}

#zoomin > svg:hover, #zoomout > svg:hover {
  color: #8e5438;
}
  

.initials {
  pointer-events: none;
  animation: float_in;
	 animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.doodle {
  display: block !important;
	 animation: float_in;
	 animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
	 pointer-events: none;
}

  .doodle:hover {
transform: scale(1.2);
}

.state > path {
	 stroke: #fffcf4;
  stroke-width: 0;
  opacity: 0.5;
	 transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.state:hover > path {
  stroke: #fffcf4;
  stroke-width: 3;
  opacity: 1;
  transform: scale(1.05, 1.05);
  /*/-webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .15));
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .15));/*/
}

.state:hover > g {
	animation: grow;
	 animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}


#Mountains_2 { animation-delay: 0ms; display: none; }
#Bridge { animation-delay: 300ms; display: none; }
#Palms_2 { animation-delay: 600ms; display: none; }
#Desert { animation-delay: 900ms; display: none; }
#Mountains_1 { animation-delay: 1200ms; display: none; }
#Tree_2 { animation-delay: 1500ms; display: none; }
#Tree_1 { animation-delay: 1800ms; display: none; }
#Sunflowers  { animation-delay: 2100ms; display: none; }
#Boot { animation-delay: 2400ms; display: none; }
#Longhorn { animation-delay: 2700ms; display: none; }
#City_1 { animation-delay: 3000ms; display: none; }
#Wind { animation-delay: 3300ms; display: none; }
#Flowers { animation-delay: 3600ms; display: none; }  
#Truck { animation-delay: 3900ms; display: none; }
#Boat { animation-delay: 4200ms; display: none; }
#Palms_1 { animation-delay: 4500ms; display: none; }
#Butterfly { animation-delay: 4800ms; display: none; }
#City_2 { animation-delay: 5100ms; display: none; }
#Capital { animation-delay: 5400ms; display: none; }


#PA:hover > #IN_PA { display: block; }
#PA:hover > #Capital { display: block; }
#NJ:hover > #IN_NJ { display: block; }
#NY:hover > #IN_NY { display: block; }
#NY:hover > #City_2 { display: block; }
#CT:hover > #IN_CT { display: block; }
#RI:hover > #IN_RI { display: block; }
#MA:hover > #IN_MA { display: block; }
#VT:hover > #IN_VT { display: block; }
#NH:hover > #IN_NH { display: block; }
#ME:hover > #IN_ME { display: block; }
#ND:hover > #IN_ND { display: block; }
#MN:hover > #IN_MN { display: block; }
#MN:hover > #City_1 { display: block; }
#IA:hover > #IN_IA { display: block; }
#MO:hover > #IN_MO { display: block; }
#WI:hover > #IN_WI { display: block; }
#IL:hover > #IN_IL { display: block; }
#IL:hover > #Wind { display: block; }
#MI:hover > #IN_MI { display: block; }
#MI:hover > #Boat { display: block; }
#IN:hover > #IN_IN { display: block; }
#OH:hover > #IN_OH { display: block; }
#NE:hover > #IN_NE { display: block; }
#SD:hover > #IN_SD { display: block; }
#KS:hover > #IN_KS { display: block; }
#KS:hover > #Sunflowers { display: block; }
#AR:hover > #IN_AR { display: block; }
#LA:hover > #IN_LA { display: block; }
#MS:hover > #IN_MS { display: block; }
#MS:hover > #Flowers { display: block; }
#AL:hover > #IN_AL { display: block; }
#GA:hover > #IN_GA { display: block; }
#FL:hover > #IN_FL { display: block; }
#FL:hover > #Palms_1 { display: block; }
#TN:hover > #IN_TN { display: block; }
#TN:hover > #Truck { display: block; }
#KY:hover > #IN_KY { display: block; }
#WV:hover > #IN_WV { display: block; }
#VA:hover > #IN_VA { display: block; }
#NC:hover > #IN_NC { display: block; }
#SC:hover > #IN_SC { display: block; }
#SC:hover > #Butterfly { display: block; }
#MD:hover > #IN_MD { display: block; }
#DE:hover > #IN_DE { display: block; }
#TX:hover > #IN_TX { display: block; }
#TX:hover > #Longhorn { display: block; }
#TX:hover > #Boot { display: block; }
#TX:hover > .AK_HI { display: block; }
#OK:hover > #IN_OK { display: block; }
#CA:hover > #IN_CA { display: block; }
#CA:hover > #Bridge { display: block; }
#CA:hover > #Palms_2 { display: block; }
#CA:hover > .AK_HI { display: block; }
#NV:hover > #IN_NV { display: block; }
#OR:hover > #IN_OR { display: block; }
#OR:hover > #Mountains_2 { display: block; }
#ID:hover > #IN_ID { display: block; }
#MT:hover > #IN_MT { display: block; }
#MT:hover > #Tree_2 { display: block; }
#WY:hover > #IN_WY { display: block; }
#WY:hover > #Tree_1 { display: block; }
#UT:hover > #IN_UT { display: block; }
#UT:hover > #Mountains_1 { display: block; }
#AZ:hover > #IN_AZ { display: block; }
#AZ:hover > #Desert { display: block; }
#AZ:hover > .AK_HI { display: block; }
#NM:hover > #IN_NM { display: block; }
#NM:hover > .AK_HI { display: block; }
#CO:hover > #IN_CO { display: block; }
#WA:hover > #IN_WA { display: block; }

#IN_PA { display: none; }
#IN_NJ { display: none; }
#IN_NY { display: none; }
#IN_CT { display: none; }
#IN_RI { display: none; }
#IN_MA { display: none; }
#IN_VT { display: none; }
#IN_NH { display: none; }
#IN_ME { display: none; }
#IN_ND { display: none; }
#IN_MN { display: none; }
#IN_IA { display: none; }
#IN_MO { display: none; }
#IN_WI { display: none; }
#IN_IL { display: none; }
#IN_MI { display: none; }
#IN_IN { display: none; }
#IN_OH { display: none; }
#IN_NE { display: none; }
#IN_SD { display: none; }
#IN_KS { display: none; }
#IN_AR { display: none; }
#IN_LA { display: none; }
#IN_MS { display: none; }
#IN_AL { display: none; }
#IN_GA { display: none; }
#IN_FL { display: none; }
#IN_TN { display: none; }
#IN_KY { display: none; }
#IN_WV { display: none; }
#IN_VA { display: none; }
#IN_NC { display: none; }
#IN_SC { display: none; }
#IN_MD { display: none; }
#IN_DE { display: none; }
#IN_TX { display: none; }
#IN_OK { display: none; }
#IN_CA { display: none; }
#IN_NV { display: none; }
#IN_OR { display: none; }
#IN_ID { display: none; }
#IN_MT { display: none; }
#IN_WY { display: none; }
#IN_UT { display: none; }
#IN_AZ { display: none; }
#IN_NM { display: none; }
#IN_CO { display: none; }
#IN_WA { display: none; }
.AK_HI { display: none; }


.page_content {
  width: 60%;
  max-width: 800px;
  display: block;
  position: relative;
  margin: 0 auto;
}

.page_content > h2 {
  border-bottom: 1px solid black;
  font-size: 30px;
  line-height: 1;
  padding-bottom: 15px;
  margin-top: 50px;
}

.page_content > h2:first-child {
  border-bottom: 1px solid black;
  font-size: 30px;
  line-height: 1;
  padding-bottom: 15px;
  margin-top: 40px;
}

.page_content > h3 {
	font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	line-height: 1.5;
}

.page_content > h3 > span {
	margin-top: 10px;
  display: block;
}

.left_col {
  min-height: 100%;
  width: 50%;
}

  .right_col {
  width: 50%;
}

  .page_content > .row_m > .left_col > h3 {
	font-size: 16px !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
	line-height: 1.5 !important;
  text-align: left;
  position: relative;
  
}

.left_col > .btn {
  position: relative;
  margin: 0 auto;
  transform: translateX(-50%);
  left: calc(50% - 15px);
}

.row_m {
  display: inline-flex;
}

.home_body_image {
  display: block;
  width: calc(100% - 30px);
  margin: 0 0px 0px 5%;
}

.page_title_image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 1000px;
}

.page_subtitle {
  text-align: center;
  position: relative;
  display: block;
  margin: -40px auto -10px auto;
  width: 60%;
  font-size: 22px;
  font-family: 'Monotype Bodoni';
}


.branch1 {
  position: absolute;
  width: 130px;
  right: -5%;
  margin-top: 600px;
  z-index: -5;
  pointer-events: none;
}

  .branch2 {
  position: absolute;
  width: 100px;
  left: 3%;
  margin-top: 1080px;
  z-index: -5;
	pointer-events: none;
}

  .branch3 {
  position: absolute;
  width: 80px;
  left: 3%;
  margin-top: 75px;
  z-index: -5;
	pointer-events: none;
}

	.branch4 {
  position: absolute;
  width: 120px;
  left: 3%;
  margin-top: 100px;
  z-index: -5;
	  pointer-events: none;
}

.pop_outs {
  width: calc(50vh - 20px);
  position: absolute;
  top: 275px;
  left: 50%;
  display: none;
  border: 1px solid black;
  padding: 20px;
}
  
   
.close {
  display:block;
  position: relative;
  left: 95%;
  z-index: 9;
  cursor: pointer;
}

.close > svg:hover {
  color: #8e5438;
}

.item_slide_left > svg:hover, .item_slide_right > svg:hover {
  color: #8e5438;
}



.rte { margin-top: 50px; }

.page_title {
  position: absolute;
  text-align: left;
  transform: translate(-106%, 20px);
  margin-top: 0px;
}
  .page_title_2 {
  position: absolute;
  text-align: left;
  margin-top: 0px;
	color: black !important;
}

.page_image {
  /*max-width: 600px;*/
  position: relative;
  left: calc(50% - 0px);
  transform: translateX(-50%);
  margin-top: 0px;
  width: 55%;
  height: 400px;
  background-image: url(https://web.archive.org/web/20211201152008im_/https://cdn.shopify.com/s/files/1/0532/8555/2298/files/DSC_7790_1.jpg?v=1616851719);
  background-position: bottom;
  background-size: cover;
  max-width: 660px;
}

  .page_image_2 {
  /*max-width: 600px;*/
  position: relative;
  left: calc(50% + 120px);
  transform: translateX(-50%);
  margin-top: 0px;
  width: 35%;
  height: 70vh;
  background-image: url(https://web.archive.org/web/20211201152008im_/https://cdn.shopify.com/s/files/1/0532/8555/2298/files/Rupi_Kaur_About_Me.jpg?v=1616450080);
  background-position: bottom;
  background-size: cover;
  max-width: 50%;
  background-repeat: no-repeat;
}

.water_color {
  position: absolute;
  display: block;
  width: 120px;
  left: 73%;
  top: 110px;
}
  .water_color_2 {
  position: relative;
  display: block;
  width: 100px;
  left: 63%;
  margin-top: -175px;
	z-index: -1;
	margin-bottom: 50px;
}

.butterfly {
  position: absolute;
  width: 150px;
  left: 76%;
  transform: rotate(10deg);
  margin-top: -145px;
  display: none;
}

.slanted {
  position: absolute;
  font-size: 100px;
  line-height: 75px;
  font-family: 'TGLI';
  text-transform: none;
  letter-spacing: unset;
  width: 225px;
  margin-bottom: 21px;
  text-align: right;
  transform: translate(-106%, 20px);
  margin-top: 0px;
}

  .slanted:before {
  content: "";
  position: relative;
  z-index: 1;
  background: #000;
  height: 3px;
  width: 70px;
  top: 28px;
  bottom: 0;
  /* margin: auto; */
  left: -55px;
  display: block;
}

.unslanted {
  position: absolute;
  font-size: 100px;
  line-height: 75px;
  font-family: 'TGL';
  text-transform: none;
  letter-spacing: unset;
  width: 225px;
  margin-bottom: 21px;
  text-align: right;
  transform: translate(-106%, 20px);
  margin-top: 0px;
}

.slanted2 {
  position: relative;
  font-size: 100px;
  line-height: 75px;
  font-family: 'TGLI';
  text-transform: none;
  letter-spacing: unset;
  width: 100%;
  margin-bottom: -20px;
  text-align: center;
  /* transform: translate(-106%, 20px); */
  margin-top: 20px;
}

  .slanted2:before {
  content: "";
  position: relative;
  z-index: 1;
  background: #000;
  height: 3px;
  width: 70px;
  top: 28px;
  bottom: 0;
   margin: auto; 
  left: -295px;
  display: block;
}

.unslanted2 {
  position: relative;
  font-size: 100px;
  line-height: 75px;
  font-family: 'TGL';
  text-transform: none;
  letter-spacing: unset;
  width: 100%;
  margin-bottom: -20px;
  text-align: center;
  margin-top: 20px;
}

.item_item_slider {
 width: 100%;
  height: 40vh;
  max-width: 100%;
  max-height: 100%;
  overflow-x: scroll;
   position: inherit;

  display: flex;
  -webkit-overflow-scrolling : touch !important;
  overflow-y: hidden;
  margin: 10px 0 20px 0;
  
  /* Scroll Snap */
  scroll-snap-align: center; 
  scroll-snap-stop: always;
	  scroll-snap-type: x mandatory;  
  scroll-behavior: smooth;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.item_item_slider::-webkit-scrollbar {
  display: none;
}

.item_slide_image_1 {
  display: block;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
 
  /* Scroll Snap */
  scroll-snap-align: center; 
  scroll-snap-stop: always;
}

.item_slide_image_2 {
  display: block;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
 
  /* Scroll Snap */
  scroll-snap-align: center; 
  scroll-snap-stop: always;
}

  .item_slide_image_3 {
  display: block;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
 
  /* Scroll Snap */
  scroll-snap-align: center; 
  scroll-snap-stop: always;
}

	.item_slide_image_4 {
  display: block;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
 
  /* Scroll Snap */
  scroll-snap-align: center; 
  scroll-snap-stop: always;
}

	.item_slide_image_5 {
  display: block;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
 
  /* Scroll Snap */
  scroll-snap-align: center; 
  scroll-snap-stop: always;
}

	.item_slide_image_6 {
  display: block;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
 
  /* Scroll Snap */
  scroll-snap-align: center; 
  scroll-snap-stop: always;
}

.item_slide_nav {
  width: 100%;
  position: absolute;
  top: 23vh;
  transform: translateY(-50%);
  left: 0%;
}

 .item_slide_left {
  position: absolute;
  left: 0px;
  cursor: pointer;
  transform: translateY(-50%) scale(.75);
  font-size: 20px;
}

  .item_slide_right {
  position: absolute;
  left: unset;
  right: 0px;
  cursor: pointer;
  transform: translateY(-50%) scale(.75);
		font-size: 20px;
}

.pop_outs > div > h2 {
  font-size: 25px;
  margin-bottom: 0;
}

.pop_outs > div > h3 {
  font-size: 18px;
  margin-bottom: 0;
}

#path_1 {
  stroke-dasharray: 750;
}

#path_1 > g > path {
  animation-fill-mode: both;
  animation: dash;
  animation-duration: 65s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

#path_2 {
  stroke-dasharray: 750;
}

#path_2 > path {
  animation-fill-mode: both;
  animation: dash;
  animation-duration: 65s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

#path_3 {
  stroke-dasharray: 750;
}

#path_3 > path {
  animation-fill-mode: both;
  animation: dash;
  animation-duration: 65s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

  #path_4 {
  stroke-dasharray: 750;
}

#path_4 > path {
  animation-fill-mode: both;
  animation: dash;
  animation-duration: 65s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

	#path_5 {
  stroke-dasharray: 750;
}

#path_5 > path {
  animation-fill-mode: both;
  animation: dash;
  animation-duration: 65s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}





	 @media only screen and (max-width: 1070px) {
	 .pop_outs {
	   top: 240px;
	 }
   }

   @media only screen and (max-width: 830px) {
	 .pop_outs {
	   top: 225px;
	 }
   }

   @media only screen and (max-width: 749px) {
  .initials {
	   display: block !important;
	 }
	 
	 #map {
	   transform: scale(3) translate(-60%, -31%)
	 }
	 
	 .initials.AK_HI { display: none !important; }
	 
	 #Map {
	   width: 90%;
	   height: 60vh;
	   min-height: 417px;
	   border: 1px solid black;
	 }
	 
	 
	 #AK_HI {
	   display: none;
	 }
	 
	 
	 #zoombox_wrapper {
	   display: block;
	 }
	 
	 .pop_outs {
	  top: 50vh;
	  left: 5%;
	  width: 90%;
	 }
	 
	 .close {
	   top: -7px;
	   left: 95%;
	 }
	 
	 .item_slide_nav {
	   top: 18vh;
	 }
	 
	 .item_item_slider {
  width: 100%;

  height: 26vh;
	 }
	 
	 
	 .page_title_image {
  position: relative;
  display: block;
  margin: 10px auto -20px auto;
  width: 90%;
	   
	   
}
	 
	 .page_subtitle {
  text-align: center;
  position: relative;
  display: block;
  margin: 0px auto 20px;
  width: 90%;
	   font-size: 18px;
}
	 
	 .page_content {
  width: 90%;
	 }
	 
	 .water_color {
  top: 50px;
  width: 100px;
  left: calc(60% + 100px);
}
 .row_m {
   display: flex;
  flex-direction: column;
 }
	 
	 .left_col { 
	   margin-bottom: 20px; 
	 }
	 
	 .page_content > .row_m > .left_col > h3 {

  text-align: left;
  transform: unset;
  top: unset;
  position: relative;
  
}
	
	 .home_body_image {
	   width: 100%;
	  display: block;
	   margin: 0 0 20px 0;
}
	 
	 .left_col {
	   width: 100%;
	 }
	 .right_col {
	   width: 100%;
	 }
	 
	 .left_col > .btn {
		position: relative;
		transform: translateX(-50%);
		left: 50%;
	}
	 
   }
